body {
    margin-top: 20px;
    transition: ease-in-out all 0.2s;
    cursor: pointer;
}

.portrait {
    height: 400px;
    border-radius: 30px;
    border: 1px solid;
    transition: ease-in-out .3s all;
    max-width: 80%;
    margin: 20px;
    max-height: 400px;
}