.Human>img {
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 4px;
}

.Human {
    height: 550px;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    font: 1em sans-serif;
    color: whitesmoke;
    background: linear-gradient(#808080, #9e3a00);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttons {
    margin: 20px 20px 0px 20px;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.buttons>button {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.properties_container {
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 20px;
}

#firstname,
#lastname,
#age,
#gender,
#calories {
    margin-left: 30px;
    display: flex;
}

.massage {
    margin-top: 20px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#massge {
    bottom: 0;
}

.superhero {
    display: none;
}